.modal {
    width: auto;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    cursor: default;
}

#task-editor {
    width: 300px;
    padding: 25px;
    color: #000;
    background: #edffd4;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-header {
    font-size: 1em;
    font-family: Acme;
    text-align: center;
    width: 100%;
}

.form-label {
    font-size: 0.75em;
    font-weight: 500;
    font-family: Acme;
    margin-top: 10px;
}

.settings-table {
    width: 600px;
    max-height: 80%;    
    position: relative;
    box-shadow: -5px 5px 3px #ddd;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 0 20px 20px;
    font-family: Roboto;
}

.table-header {
    background-color: #edffd4;    
    border-radius: 10px 10px 0 0;
    font-family: Acme;    
    font-weight: 700;
}

.table-row, .table-edit-row {
    height: 35px;
    border-bottom: 1px solid #ccc;    
    padding: 0 15px;
    display: flex;
    align-items: center;
    font-size: 0.6em;
}

.table-edit-row {
    height: 150px;
    display: block;
    padding: 10px;
}

.button-row {
    border-radius: 0 0 10px 10px;
    font-size: 0.65em;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Acme;
    color: #000;
    border-radius: 5px;
}

#task-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.task-edit-button {
    width: 90px;
    height: 30px;
    font-size: 0.7em;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.3);
    opacity: 0.8;
}

.button:hover {
    opacity: 1;
    cursor: pointer;
}

.submit-button {
    background: #DAD299;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #B0DAB9, #DAD299); 
    background: linear-gradient(to top, #B0DAB9, #DAD299); 
    opacity: 0.7;
}

.submit-button:active {
    background: #c2b656;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #86c694, #c2b656); 
    background: linear-gradient(to top, #86c694, #c2b656); 
    color: #fff;
}

.table-column {
    width: 50%;
}

.options-header {
    width: 100%;
    text-align: center;
    font-family: Acme;
    font-size: 0.75em;
}

.category-color {
    width: 50px;
    height: 15px;
    border: 1px solid #ccc;
}

.category-color:hover {
    box-shadow: inset 1px 1px 4px 1px #fff,
        inset -1px -1px 0 1px rgba(255,255,255,0.5);
    cursor: pointer;
}

.category-color-picker, .task-icon-picker {
    display: none;
    position: absolute;
    right: 66px;
    width: 160px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.task-icon-picker {
    right: 145px;
    bottom: 115px;
    width: 270px;
    height: 290px;
    color: #333;
}

.path-editor, .path-name {
    width: 100%;
}

.category-color-option {
    display: inline-block;
    margin: 3px;
    width: 30px;
    height: 30px;    
    border: 2px solid #fff;
}

.task-icon-option {
    display: inline-block;
    width: 25px;
    height: 25px;    
    border: 1px solid #777;
    text-align: center;
}

.task-icon-option:hover {
    cursor: pointer;
    color: #56ab2f;
}

.category-color-option:hover {
    border: 2px solid #aaa;
    cursor: pointer;
}

.settings-input, .settings-select {
    height: 20px;
    padding: 0 2px;
    width: 270px;
}

.settings-select, .settings-select-small {
    height: 25px;
    padding: 0 2px;
}

.settings-select-small {
    width: 30%;
}

.settings-option {
    margin-left: 20px;
    margin-right: 5px;
}

.task-icon-button {
    color: #56ab2f;
    background: #fff;
    padding: 7px 10px;
    margin: 0 5px 0 15px;
    position: relative;
    bottom: 8px;
    border: 2px solid transparent;
}

.task-icon-button:hover {
    background: #9de381;
    color: #fff;
    cursor: pointer;
}

.task-icon-button:active {
    color: #000;
}

.edit, .delete {
    font-size: 1.25em;
    font-weight: 700;
}

.delete {    
    right: 5px;
}

.delete:hover, .delete-button:hover  {
    cursor: pointer;
    color: #FC2847;
}

.delete-button:active {   
    color: #fff; 
    background: #ff0327;
}

.edit .fas:hover{
    color: #aaa;
    cursor: pointer;
}

.cancel-button:hover {
    background: rgba(0, 0, 0, 0.4);
}

.cancel-button:active {
    color: #fff;
    background: #111;
}

h3 {
    margin: 0 0 10px;
}

