.task-item {
    width: 90px;
    height: 90px;
    margin: 5px;
    font-family: Roboto;
    font-size: 0.85em;
    position: relative;
    border: 1px solid #bbb;
}

.task-item i.fas, .task-item i.far {
    position: absolute;
    top: 10px;
    right: 10px;
}

.item-title {
    width: 100%;
    position: absolute;
    top: 25px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
}

.level {
    position: absolute;
    top: 10px;
    left: 10px;
}