@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

#navbar {
    width: 100%;
    height: 60px;
    background-color: #EDFFD4;
    position: relative;
}

#branding {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Acme';
    color: #555;
}

#menu-button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5px;
    text-align: center;
    font-size: 1.75em;
    color: #9de381;
    text-shadow: -1px 1px 2px #555;
}

#menu-button:hover {
    cursor: pointer;
}

.menu-item {
    font-family: Roboto;
    font-size: 0.65em;
    font-weight: 700;
    padding: 5px;
}

.menu-item:hover {
    background-color: #56ab2f;
    cursor: default;
}

.leaf:hover {
    background-color: #56ab2f;
    cursor: pointer;
}

#branding img {
    height: 80%;
    margin: 0 10px 0 5px;
}

#message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    margin: 20px auto 0;
    height: 40px;
    font-family: Roboto;
    font-size: 0.9em;
    color: #555;
}

#message-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    width: 15px;
    height: 15px;
    color: #7bab79;
    font-weight: 700;
    border: 1px solid;
}

#message-close:hover {
    background-color: #fff;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button:hover {
    color: #ccc;
    cursor: pointer;
}